<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-button tab="pedido" routerLink="/tabs/pedido" fill="clear">
      <ion-icon name="pizza" size="large" style="color:brown"></ion-icon>
    </ion-button>
    <ion-button tab="bebida" routerLink="/tabs/bebida" fill="clear">
      <ion-icon name="beer" size="large" color="warning"></ion-icon>
    </ion-button>
    <ion-button tab="carrito" routerLink="/tabs/carrito" fill="clear">
      <ion-icon name="cart" size="large" style="color: lightgrey;"></ion-icon>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
